FGV - EMAp - Escola de Matemática Aplicada
==
Introdução à Programação com a Linguagem Python
--

## Tipos padrão do Python

### O que são tipos?

Tipos são classificações de dados que em Python são objetos. Dessa forma um objeto de determinado tipo possui as propriedades (métodos/funções e atributos) específicos do tipo. Podemos descobrir o tipo de cada objeto usando o comando:  
  
_type(objeto)_

### Tipos Numéricos:
Em Python (3.x) os tipos numéricos são divididos em três classes: os inteiros (int), os pontos flutuantes (float) e os complexos (complex).

In [4]:
a = 12

In [5]:
type(a)

int

In [6]:
b=2.7

In [8]:
type(b)

float

In [11]:
b.is_integer()

False

In [16]:
c = 3 + 1j

In [17]:
type(c)

complex

In [19]:
c.conjugate()

(3-1j)

#### Operações com tipos numéricos:

In [20]:
print(9 + 8) # Soma.
print(12 - 34) # Subtração.
print(12 * 3) # Multiplicação.
print(34 / 23) # Divisão.
print(3 ** 5) # Exponenciação.
print(9 ** 0.5) # Radiciação.
print(501 % 10) # resto da divisão

17
-22
36
1.4782608695652173
243
3.0
1

In [21]:
a = 23.
print(type(a))

<class 'float'>

In [22]:
b = 2 + 3j
print(type(b))

<class 'complex'>

In [23]:
c = a + b
print(type(c))

<class 'complex'>

##### Operações com > (maior), < (menor), >= (maior ou igual) e <= (menor ou igual)

In [26]:
c = 2.5
d = 4
c > d

False

In [27]:
c = 2.5
d = 4
c <= d

True

In [28]:
c = 1 + 3j
d = 2 + 4j
c > d

TypeError: '>' not supported between instances of 'complex' and 'complex'

##### Operação de igualdade (==) e desigualdade (!=)

In [30]:
c == d

False

In [31]:
d != c

True

### Tipo Lista:
Listas são sequências ordenadas de itens (não necessariamente do mesmo tipo) que são postos entre colchetes e separados por vírgula. Uma característica que faz com que as listas sejam tão utilizadas é a mutabilidade, isto é, seus elementos podem ser alterados.

In [2]:
lista = [1,2,2, [2,3,4], 3.9, 4, 2.8,'uma string']

In [3]:
lista_simples = [1,2,3]

In [4]:
lista_simples

[1, 2, 3]

In [5]:
lista_simples.extend([3,2,1]) # agrega o que está entre parênteses ao final da lista (pode ser um elemento ou outra lista)

In [6]:
lista_simples

[1, 2, 3, 3, 2, 1]

In [37]:
lista

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'uma string']

##### Acessando elementos da lista

obs.: O primeiro elemento possui índice 0.

In [40]:
lista[3] # nomedalista[posição do elemento]

[2, 3, 4]

In [9]:
lista[3][0:2] # acessa os itens 1 e 2 da lista que está na posição 2 da lista anterior (maior) - note que o python exclui 
              # o último item

[2, 3]

In [42]:
lista[-1] # acessa rapidamente o último item da lista

'uma string'

In [48]:
l2=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6]

In [49]:
l2[2:6]

[3, 4, 5, 6]

##### Adicionando novos elementos

In [11]:
seu_novo_nome = [2,6,3,8]

In [12]:
seu_novo_nome.append(23) # Adiciona o que está entre parênteses ao final da lista

In [13]:
seu_novo_nome

[2, 6, 3, 8, 23]

#### Removendo elementos de uma lista

In [14]:
seu_novo_nome.pop() # Exclui o último nome da lista

23

In [16]:
seu_novo_nome.pop(2) # Pode também indicar a posição do item que se quer excluir

3

In [18]:
seu_novo_nome # Nova lista (sem o último e o terceiro itens da lista anterior)

[2, 6, 8]

#### Inserindo listas e elementos

In [55]:
seu_novo_nome

[2, 6, 3, 8]

In [56]:
seu_novo_nome.append(4)

In [57]:
seu_novo_nome.extend([0,7,3])

In [58]:
seu_novo_nome

[2, 6, 3, 8, 4, 0, 7, 3]

In [59]:
seu_novo_nome.append([9,9])

In [60]:
seu_novo_nome.insert(2,5678)

In [61]:
seu_novo_nome

[2, 6, 5678, 3, 8, 4, 0, 7, 3, [9, 9]]

In [62]:
seu_novo_nome.pop()

[9, 9]

In [63]:
seu_novo_nome.sort() #Colocando em ordem
seu_novo_nome

[0, 2, 3, 3, 4, 6, 7, 8, 5678]

#### Acessando elementos

In [6]:
nova2 = [[[2,1],7,9,3,3,2,[2,6]],4,5,7]

In [2]:
nova2[0]

[[2, 1], 7, 9, 3, 3, 2, [2, 6]]

In [3]:
nova2[0].index(2)

5

In [4]:
len(nova2) #len() serve para dar o tamanho do objeto

4

In [8]:
nova2.count(3) # retorna o número de vezes que o 3 apareceu na lista

0

In [9]:
nova2[0][3]

3

In [12]:
nova2.index(5) #Retorna o primeiro índice do número (posição em que o nº aparece primeiro)

2

In [16]:
nova2.reverse() # Reescreve a lista de trás para frente
print(nova2)

[7, 5, 4, [[2, 1], 7, 9, 3, 3, 2, [2, 6]]]

In [73]:
nova_lista = [1,2,3,4,5,6]

In [74]:
nova_lista[2]

3

In [75]:
nova_lista[2:5]

[3, 4, 5]

In [76]:
nova_lista[-2]

5

### Tipo String:
Strings são sequências de caracteres dispostos, necessariamente, entre aspas simples ou duplas.

In [78]:
s1 = 'uma string'
s2 = "outra string"

In [79]:
print(s1)

uma string

In [80]:
s1

'uma string'

In [81]:
s2

'outra string'

In [82]:
s3 = "let's go to the classroom"
s3

"let's go to the classroom"

In [84]:
s4 = "nesta string eu tenho aspas simples (') e aspas duplas(\")"

In [85]:
s4

'nesta string eu tenho aspas simples (\') e aspas duplas(")'

In [86]:
print(s4)

nesta string eu tenho aspas simples (') e aspas duplas(")

In [87]:
s5 = 'let\'s stress'
s5

"let's stress"

#### Concatenando strings

In [88]:
s1+s2

'uma stringoutra string'

In [89]:
s1+' '+s2

'uma string outra string'

In [90]:
print('um comando' + ' ' + 'que ocupe' + ' ' + 'duas ou mais linhas')

um comando que ocupe duas ou mais linhas

In [17]:
s6 = 'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços \
ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete \
capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. \
Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [18]:
s6

'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [19]:
print(s6) # Faz a mesma coisa da célula anterior, porém sem as "

RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.

In [20]:
s7 = '''
RIO - Brasília fechou 2015 com uma inflação de 11,95%, 
segundo o Índice de Preços ao Consumidor Semanal (IPC-S), 
medido pela Fundação Getulio Vargas (FGV). 
Entre as sete capitais pesquisadas pela FGV, a capital federal foi 
a que teve a maior alta de preços. Em 2014, Brasília havia registrado 
uma taxa de inflação de 6,74%.
'''

In [22]:
s7 # gera o texto com os comandos de espaçamento e quebra de linha expostos.

'\nRIO - Brasília fechou 2015 com uma inflação de 11,95%, \nsegundo o Índice de Preços ao Consumidor Semanal (IPC-S), \nmedido pela Fundação Getulio Vargas (FGV). \nEntre as sete capitais pesquisadas pela FGV, a capital federal foi \na que teve a maior alta de preços. Em 2014, Brasília havia registrado \numa taxa de inflação de 6,74%.\n'

In [23]:
print(s7)

RIO - Brasília fechou 2015 com uma inflação de 11,95%,
segundo o Índice de Preços ao Consumidor Semanal (IPC-S),
medido pela Fundação Getulio Vargas (FGV).
Entre as sete capitais pesquisadas pela FGV, a capital federal foi
a que teve a maior alta de preços. Em 2014, Brasília havia registrado
uma taxa de inflação de 6,74%.

In [24]:
texto = 'uma linha \noutra linha' # new line: \n
print(texto)

uma linha
outra linha

In [99]:
s4

'nesta string eu tenho aspas simples (\') e aspas duplas(")'

#### Contando o número de aparições de um caracter

In [100]:
s4.count('a')

6

#### Modificando caracteres

In [101]:
s4 = s4.replace('a','@')

In [102]:
s4

'nest@ string eu tenho @sp@s simples (\') e @sp@s dupl@s(")'

#### Encontrando a posição da palavra

In [103]:
s4.find('simples')

28

In [106]:
s4[6:]

'string eu tenho @sp@s simples (\') e @sp@s dupl@s(")'

In [107]:
s4[28:]

'simples (\') e @sp@s dupl@s(")'

In [108]:
s4[s4.find('string'):s4.find('simples')+len('simples')]

'string eu tenho @sp@s simples'

In [109]:
s4[6:35]

'string eu tenho @sp@s simples'

#### Fazendo mais elegantemente

In [110]:
inicio = s4.find('string')
fim = s4.find('simples')+len('simples')
s4[inicio:fim]

'string eu tenho @sp@s simples'

In [25]:
a = 12
b = int('12') # transforma string em número
a + b

24

In [26]:
c = str(12) # transforma número em string
d = '12'
c + d

'1212'

In [28]:
c.isdigit() # Verdadeiro se só contém números; Falso caso contrário

True

Tipos numéricos especiais

In [116]:
x = 0xFFF
x # hexadecimal

4095

In [117]:
y = 0b111110001
y # binário

497

In [118]:
z = 0o777321
z

261841

In [119]:
0b11111111

255

### Tipo Booleano:
Serve para criação de estruturas lógicas e criação de condicionais retornando somente True ou False.

In [120]:
'RENATO'.isupper() # na string todas são maiúsculas?

True

In [121]:
b1 = True

In [122]:
b2 = False

In [123]:
b1 == b2

False

In [124]:
2 == 5

False

In [125]:
type(2 == 7)

bool

In [126]:
4 != 5

True

In [127]:
if (9 > 10) and (2 == (1 + 1)) and (7 <= 8): # uma das condições não está satisfeita (9 não é maior do que 10)
    print('Correto')
if x == 4095:
    print('Legal')
else:
    print('chato')
print('novo bloco')

Legal
novo bloco

### Tipo Conjunto (sets):
Set são sequências não ordenadas de itens únicos. Os itens são postos entre chaves e separados por vírgula.

In [132]:
c1 = {1,2,3,3,3,3,3,4} # conjunto não admite repetições

In [133]:
c1

{1, 2, 3, 4}

In [136]:
c2 = set([1,2,3,4,1,2]) # conversão de uma sequência em um conjunto

In [137]:
c2

{1, 2, 3, 4}

In [138]:
lista3 = [1,2,3,'string']

In [139]:
conjunto = set(lista3)

In [140]:
conjunto

{1, 2, 3, 'string'}

In [29]:
conjunto2 = conjunto.union([9,8,7]) # Faz a união dos dois conjuntos. OBS: conjunto não tem ordenamento de elementos

NameError: name 'conjunto' is not defined

In [144]:
conjunto2

{1, 2, 3, 7, 8, 9, 'string'}

In [145]:
conjunto.intersection(conjunto2) # Faz a interseção dos dois conjuntos

{1, 2, 3, 'string'}

In [147]:
lista3 = list(conjunto) # transformando o conjunto em uma lista

In [148]:
conjunto4 = set('uma string legal') # transforma uma string em conjunto

In [149]:
conjunto4

{' ', 'a', 'e', 'g', 'i', 'l', 'm', 'n', 'r', 's', 't', 'u'}

In [150]:
print(len('uma string legal')) # Qual o tamanho
print(len(set('uma string legal'))) # Qual o tamanho do conjunto

16
12

In [151]:
texto = '''
There are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015. These are statistical language R (+1.38%) and Apple's new Swift language (+1.06%). Apart from these, also JavaScript and Dart have a chance to win. The award is given to the language with the highest increase in ratings in 2014. Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry. 
'''

In [152]:
texto

"\nThere are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015. These are statistical language R (+1.38%) and Apple's new Swift language (+1.06%). Apart from these, also JavaScript and Dart have a chance to win. The award is given to the language with the highest increase in ratings in 2014. Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry. \n"

In [153]:
#texto = texto.replace('a','&&&&a')

In [155]:
lista_palavras = texto.split() # split transforma o texto em uma lista separando de acordo com um dado caracter (padrão: new line e space)
lista_palavras

['There',
 'are',
 'two',
 'candidates',
 'for',
 'the',
 'TIOBE',
 'programming',
 'language',
 'of',
 'the',
 'year',
 'award',
 'that',
 'will',
 'be',
 'announced',
 'around',
 'the',
 '1st',
 'of',
 'January',
 '2015.',
 'These',
 'are',
 'statistical',
 'language',
 'R',
 '(+1.38%)',
 'and',
 "Apple's",
 'new',
 'Swift',
 'language',
 '(+1.06%).',
 'Apart',
 'from',
 'these,',
 'also',
 'JavaScript',
 'and',
 'Dart',
 'have',
 'a',
 'chance',
 'to',
 'win.',
 'The',
 'award',
 'is',
 'given',
 'to',
 'the',
 'language',
 'with',
 'the',
 'highest',
 'increase',
 'in',
 'ratings',
 'in',
 '2014.',
 'Visual',
 'Basic',
 'has',
 'the',
 'highest',
 'delta',
 'but',
 'it',
 "doesn't",
 'qualify',
 'for',
 'the',
 'award',
 'because',
 'it',
 'has',
 'been',
 'introduced',
 'as',
 'a',
 'split',
 'off',
 'of',
 'the',
 'general',
 'Basic',
 'entry.']

In [163]:
pequena = 'uma string pequena' # Exemplo de split

In [164]:
pequena.split('a') # Divide a string em partes de acordo com o caracter especificado entre parênteses.

['um', ' string pequen', '']

In [165]:
palavras_unicas = set(lista_palavras)

In [137]:
print(len(lista_palavras))
print(len(palavras_unicas))

89
65

In [140]:
' @ '.join(lista_palavras)  # ' ' transforma uma lista em um texto (insere uma string entre cada elemento dessa lista)

"There @ are @ two @ candidates @ for @ the @ TIOBE @ programming @ language @ of @ the @ year @ award @ that @ will @ be @ announced @ around @ the @ 1st @ of @ January @ 2015. @ These @ are @ statistical @ language @ R @ (+1.38%) @ and @ Apple's @ new @ Swift @ language @ (+1.06%). @ Apart @ from @ these, @ also @ JavaScript @ and @ Dart @ have @ a @ chance @ to @ win. @ The @ award @ is @ given @ to @ the @ language @ with @ the @ highest @ increase @ in @ ratings @ in @ 2014. @ Visual @ Basic @ has @ the @ highest @ delta @ but @ it @ doesn't @ qualify @ for @ the @ award @ because @ it @ has @ been @ introduced @ as @ a @ split @ off @ of @ the @ general @ Basic @ entry."

In [166]:
import string # Importa o pacote (módulo) string

In [167]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [168]:
for punct in ['.','?','!']:
    texto = texto.replace(punct, '*****')
texto

"\nThere are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015***** These are statistical language R (+1*****38%) and Apple's new Swift language (+1*****06%)***** Apart from these, also JavaScript and Dart have a chance to win***** The award is given to the language with the highest increase in ratings in 2014***** Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry***** \n"

In [150]:
texto.split('*****') # "parte" o texto em algum caractere específico

['\nThere are two candidates for the TIOBE programming language of the year award that will be announced around the 1st of January 2015',
 ' These are statistical language R (+1',
 "38%) and Apple's new Swift language (+1",
 '06%)',
 ' Apart from these, also JavaScript and Dart have a chance to win',
 ' The award is given to the language with the highest increase in ratings in 2014',
 " Visual Basic has the highest delta but it doesn't qualify for the award because it has been introduced as a split off of the general Basic entry",
 ' \n']

In [169]:
string5 = 'uma string'
string5 += ' outro texto'

In [170]:
string5

'uma string outro texto'

### Tipo Dicionário:
Dicionários são sequências não ordenadas de itens na forma de pares key:values que se encontram dentro de chaves e separados por vírgula. Como value podemos usar objetos de qualquer tipo, já como key só podemos usar objetos de tipos imutáveis (strings, números ou tuplas).

In [172]:
d={1:3,5:2}  # Dicionário Simples (estrutura eficiente para recuperação de valores - busca mais rápido)

In [173]:
d[5]  # a chave tem q ser imutável (ex.: string, float, inteiro, tupla)

2

In [30]:
dic = {'chave1':[1,2,3],'chave2':2,'outra chave':4,45:26, 'outro':23} # é criado como um conjunto (com {})
dic

{'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 45: 26, 'outro': 23}

In [33]:
dic.update({2:3}) # insere o que está entre parênteses ao final do dicionário.

In [32]:
dic

{'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 45: 26, 'outro': 23, 2: 3}

In [177]:
ficha = {'Peso':73, 'Altura':183, 'Idade':44, 'Nome':'Renato'}

In [178]:
ficha

{'Altura': 183, 'Idade': 44, 'Nome': 'Renato', 'Peso': 73}

In [180]:
ficha['Idade'] # Para acessar um elemento do dicionário basta acessar a sua chave

44

Exercício:  
Criar uma estrutura de dados para representar as notas de 3 avaliações (A1, A2 e AS) em três 
disciplinas (Matemática, História e Geografia)

In [35]:
boletim = {'Matemática':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'História':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'Geografia':{'A1':9.0, 'A2':8.0,'AS':4.0}}
boletim

{'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [36]:
boletim['Matemática']['AS'] # Acessar a nota da prova A2 de Matemática

4.0

In [37]:
boletim.items() # Exibe tudo o que tem dentro do dicionário.

dict_items([('Matemática', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('História', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('Geografia', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0})])

In [38]:
'A2' in boletim['Matemática'] # in = Teste lógico (A2 está dentro de Matemática?)

True

In [33]:
boletim['Matemática'].values()

dict_values([9.0, 4.0, 8.0])

In [189]:
boletim['Matemática']['AS'] = 10
boletim

{'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 10}}

In [190]:
newdic = {}

In [191]:
newdic

{}

In [192]:
newdic['elemento1'] = 23

In [193]:
newdic

{'elemento1': 23}

In [194]:
newdic.update({'um':2})

In [195]:
newdic

{'elemento1': 23, 'um': 2}

In [196]:
newdic['um'] = 1

In [197]:
newdic

{'elemento1': 23, 'um': 1}

In [198]:
d2 = {}
d1 = {1:d2}
d2 = {2:d1}

In [199]:
d1

{1: {}}

In [200]:
d2

{2: {1: {}}}

In [201]:
d2[2][1] = 'outra coisa'

In [202]:
d1[2]='outro elemento'

In [203]:
d2

{2: {1: 'outra coisa', 2: 'outro elemento'}}

### Tipo Tupla:
Tuplas, assim como listas, são sequências ordenadas de itens. As diferenças entre elas são: os elementos estão entre parênteses e as tuplas são imutáveis, seus elementos não podem ser modificados.

In [204]:
t = (1,2,3,4,7,4,3,1,'string',{1,2}, [1,2]) # Diferentemente da lista, é imutável

In [207]:
type(t)

tuple

In [208]:
t[0]

1

In [209]:
t[5]

4

In [210]:
t[3:6]

(4, 7, 4)

In [211]:
lista = [1,2,3]

In [212]:
tupla = tuple(lista)

In [213]:
tupla

(1, 2, 3)

In [214]:
lista2 = list(tupla)

In [215]:
lista2

[1, 2, 3]

In [216]:
d5 = {(1,2):'tupla'}
d5

{(1, 2): 'tupla'}

In [217]:
t2 = (2,4,7,2,2,2,2)

In [218]:
t2.count(2)

5

In [219]:
a = [1,2]

In [220]:
t = (a,a,a,a,a)
l = [a,a,a,a,a]

In [223]:
type((2,)) # Tupla de um elemento só (deve adicionar a vírgula depois do elemento)

tuple

In [222]:
tupla_falsa = (1)
tupla_verdadeira = (1,)
print(type(tupla_falsa))
print(type(tupla_verdadeira))

<class 'int'>
<class 'tuple'>

Acessando cada elemento da tupla

In [224]:
x, y = 10, 19 #Relembrando como declarar as variáveis em uma linha
print(y)
print(x)

19
10

Empacotamento e desempacotamento de tuplas

In [227]:
t = (2,3,4)  # se o nº de variáveis é diferente do nº de valores, dá erro (incluindo * aglutina o que sobrar em uma variável)
x,y,z = t
print(t)
print(x)
print(y)
print(z)

(2, 3, 4)
2
3
4

In [229]:
x, *y, z = (1,2,3,4)
print(x)
print(y)
print(z)

1
[2, 3]
4

In [19]:
# OBS: Pode fazer empacotamento e desempacotamento em listas

In [20]:
a = None # Pode-se atribuir o nada a um objeto

In [22]:
print(a)

None

### Várias formas para importação de módulos:

#### Importando o pacote inteiro:

In [23]:
import string  # Pacotes importantes: numpy; Pandas; matplotlib; networkx; statsmodels
import random
import math
import numpy

In [25]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [26]:
random.random()  # pode-se gerar números através de distribuições

0.6023702014937921

In [28]:
math.pi  # Funções trigonométricas, testes lógicos, hiperbólicas, logaritmos, radiciação, etc. 
        # math.pi - número pi; math.e - número neperiano

3.141592653589793

In [31]:
numpy.pi # Vantagem de acessar o pacote dessa maneira: não há risco de sobrescrição.

3.141592653589793

In [30]:
pi=3.12 # Note que não tem conflito com o anterior, que está dentro do pacote numpy

#### Importando do pacote determinada função

In [32]:
from math import * # tras tudo que está depois do ponto para o espaço de nomes. (ex: numpy.pi se torna apenas pi)
                    # OBS: pode haver conflitos de nomes (se você definir algum objeto com um nome que está na biblioteca que foi importada)

In [33]:
pi

3.141592653589793

In [36]:
e = [1,2,3]

In [37]:
from math import *  # Note que o e criado anteriormente foi sobrescrito

In [38]:
e

2.718281828459045

In [17]:
from numpy import mean, pi # Importa apenas o que foi especificado

In [16]:
mean([1,2,3,4,5,6,7,8,9])

5.0

In [18]:
pi

3.141592653589793

In [19]:
math.pi == numpy.pi

True

#### Importando o pacote e atribuindo-o outro nome

In [39]:
import pandas as pd  # Atribui um novo nome ao pacote que está sendo importado no seu espaço de trabalho
import numpy as np
import matplotlib.pyplot as plt

In [26]:
plt.plot([1,2,3,4,5,6,4,3,2,1])

In [27]:
plt.show()

In [73]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!